/* @import url("reset.css"); */
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';


body {
    font-family: Arial;
    font-size: 100%;
}

header{
    height: 20vw;
    margin: 2vw;
    overflow: hidden; 
    font-size: 2vw;
}

header > h1 {
    position: absolute;
    padding-left: 10%;
    padding-top: 5%;
    
}

.header_image{
    object-position: 50%;
    /* width: 100vw; */
    width: 94vw;
    object-fit: cover;
    margin-right: 2vw;
    /* padding-right: 2%; */
    opacity: 0.5;
    
}

section {
    margin: 2vw;
    padding: 2vh; 
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 400px 400px 400px;
    color: white;
}

.box {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}

#burgers img{
    width: 250px;
    height: auto;
}
 

footer{
    margin: 2vw;
}
/* 
div{
    margin: 1vw;
    padding: 2vw;
} */

div > h3 {
    text-align: center;
}

.allergy {
    font-weight: bold;
}

#burgers {
    background-color: black;
    color: white;
    border: 2px dotted white;
}

#info {
    border: 2px dotted black;
}

button{
    background-color: white;
    margin-top: 2vw;
    border: 2px solid black;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
}

button:hover {
    background-color: green;
    cursor: pointer;
}



/* Kommentar */